<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/magento/magento2/master/lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">


    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="md" xsi:type="string">SchumacherFM\Markdown\Framework\View\TemplateEngine\Markdown</item>
            </argument>
        </arguments>
    </type>

    <type name="SchumacherFM\Markdown\Framework\View\MarkdownEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="michelf" xsi:type="string">\SchumacherFM\Markdown\Framework\View\MarkdownEngine\Michelf</item>
                <item name="michelfextra" xsi:type="string">\SchumacherFM\Markdown\Framework\View\MarkdownEngine\MichelfExtra</item>
                <item name="parsedown" xsi:type="string">\SchumacherFM\Markdown\Framework\View\MarkdownEngine\Parsedown</item>
            </argument>
        </arguments>
    </type>
</config>
