<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/magento/magento2/master/app/code/Magento/Backend/etc/system_file.xsd">

    <system>
        <section id="dev">
            <group id="markdown" translate="label" showInDefault="1" showInWebsite="0" showInStore="0"
                   sortOrder="1800">
                <label>Markdown [SchumacherFM]</label>

                <field id="engine" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Engine</label>
                    <source_model>SchumacherFM\Markdown\Model\Config\Source\Engines</source_model>
                </field>

            </group>
        </section>
    </system>
</config>
